body {
    padding: 100px;
    color: #FE3B15;
    background-color: #545245;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

    #calculator {
        height: 420px;
        width: 345px;        
        background-color: #3C3C4C;
        border: none;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 15px;
    }

        #display {
            height: 75px;
            margin: 30px 30px 0 30px;
            padding: 0 30px;
            font-size: 60px;
            background-color: #B7B6AC;
            border: 3px solid #545245;
            border-radius: 9px;
            vertical-align: middle;
            line-height: 75px;
            caret-color: transparent;
        }

        #buttons {
            height: 300px;
            padding: 0px 15px 15px 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
        }

            #numbers {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                gap: 9px;
            }

                .number {
                    width: 66px;
                    font-size: 40px;
                    color: #FE3B15BF;
                    background-color: #9DA1AABF;
                    border: 3px solid #545245BF;
                    border-radius: 30px;                    
                    caret-color: transparent;
                    transition-duration: 0.125s;
                }

                .number:hover {
                    font-weight: bolder;
                    color: #FE3B15;
                    background-color: #9DA1AA;
                }

                #equal {
                    width: 66px;
                    font-size: 40px;
                    color: #FE3B15BF;
                    background-color: #B7B6ACBF;
                    border: 3px solid #54524580;
                    border-radius: 30px;                    
                    caret-color: transparent;
                    transition-duration: 0.125s;
                }

                #equal:hover {
                    font-weight: bolder;
                    color: #FE3B15;
                    background-color: #B7B6AC;
                }

            #operations {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 9px;
            }
                .operation {
                    width: 82.5px;
                    font-size: 40px;
                    color: #FE3B15BF;
                    background-color: #B7B6ACBF;
                    border: 3px solid #54524580;
                    border-radius: 21px;
                    caret-color: transparent;
                    transition-duration: 0.125s;
                }

                .operation:hover {
                    font-weight: bolder;
                    color: #FE3B15;
                    background-color: #B7B6AC;
                }